POSTGRES_HOST=your-postgres-host
POSTGRES_PORT=your-postgres-port
POSTGRES_USERNAME=test_user_of_pg_2k26
POSTGRES_PASSWORD=test_password_of_pg_2k26
POSTGRES_DATABASE_NAME=test_database_of_pg_2k26

REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port